@use '../abstract/mixins';
@use '../abstract/variaveis';


nav li {
    transition: 0.3s;
    @include mixins.line-bottom(transparent);   
}

nav li:hover {
    cursor: pointer;
    @include mixins.line-bottom(variaveis.$cor-blue)
}

.bg-size-button{
    @include mixins.bg('../../assets/img/search.svg', center, 40%);
}

.intranet {
    gap: 20px;
    @include mixins.flex(space-between, center);
}

.intranet .opções .opções__item {
    @include mixins.flex(center, center);
  }

.intranet .opções .opções__botão:checked ~ .lista-menu {
    display: block;
  }


.list{
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 0px;

    &:hover{
        color: white;
    }
  }

