input{
  &::placeholder {
    color: #888; 
    font-style: italic; 
    font-size: 14px; 
  }
}
  
  .icon-lupa{
    margin-left: -47%;

    &:hover{
      opacity: 100;
      cursor: pointer;
    }
  }
  

  .buscar{
    z-index: 1;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #008F20;
  }
  
  .listaApplications{
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    flex-direction: column;
    top: -55px;
    margin-left: 50%;

    li{
      width: 50%;
    }

    li a{
      transition: 0.1s;
      border-radius: 5px;
      /* position: absolute; */
      display: flex;
      align-items: center;
      
      text-decoration: none;
      font-size: 18px;
      color: black;
      border: 1px solid #ddd;
      background-color: #fff;
      padding: 2px;
      height: 40px;

      &:hover{
        border: 1px solid #00346F;
        background-color: #f1f1f1;
      }
    }

    img{
      margin-left: 15px;
      width: 50px;
    }
  }
  

  