@mixin line-bottom($color){
        border-bottom: 1px solid $color;
}

@mixin bg($diretorio, $position, $width){
    background-image: url($diretorio);
    background-repeat: no-repeat;
    background-position: $position;
    background-size: $width;
}

@mixin flex($justify-content, $align-items){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin hover-button($background-button){
    color: white;
    background-color: $background-button;
}
