@use './variaveis';

body {
    background: linear-gradient(180deg, #fcfcfc 0%, #fcfbfb 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}